@page "/PropertyAcquisition"
@rendermode InteractiveServer

<PageTitle> Property Acquisition</PageTitle>

<h3><strong><center><u>PROPERTY ACQUISTION</u></center></strong></h3>
<h4 class="Acqui">Welcome to the Property Acquisition section of our Property Management System. Here, you can easily register as a buyer or tenant for our available properties.<br> Whether you're looking to buy or rent a property or find the perfect property, our platform simplifies the process with seamless registration forms.</h4>
<div class="card-container">
    <div class="card">
        <NavLink class="card-link" href="/buyer">
            <div class="card-body">
                <h5 class="card-title">Buyer Registration Form</h5>
                <p class="card-text">Click on the card to register yourself as a Buyer!!</p>
            </div>
        </NavLink>
    </div>
    
    <div class="card">
        <NavLink class="card-link" href="/tenants">
            <div class="card-body">
                <h5 class="card-title">Tenants Registration Form</h5>
                <p class="card-text">Click on the card to register yourself as a Tenant!!</p>
            </div>
        </NavLink>
    </div>
</div>

@code {
    // Code-behind for any logic can go here (if necessary).
}
