@page "/"

<PageTitle>Home</PageTitle>

<div id=" intro">Nyumbani is a property management system that tailors to all its users.</div>
<img class="pic"src="Management-Feature.webp" alt="A management picture" />


<div id="about"> Welcome article Family!!</div>
<div id="contact">contact form!</div>