<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img class="navbar-brand" src="house.jpeg" alt="A house icon">
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/PropertyListings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Property Listings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/PropertyAcquisition">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Property Acquistion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/signup">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sign Up
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#contact">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Contact Us
            </NavLink>
        </div>
    </nav>
</div>

